* { padding: 0; margin: 0; font-family: "Aller Display", sans-serif; }

body { width: 100vw; height: 100vh; background-color: #3b4163; color: #ffffff; display: flex; justify-content: center; align-items: center; }

.game { max-width: 810px; width: 90vw; min-height: 490px; background-color: #f5f5f5; border-radius: 5px; position: relative; overflow: hidden; }

.game:after { content: ''; display: inline-block; width: 200px; height: 500px; transform: rotate(45deg); background-color: #4d69fa; position: absolute; bottom: -220px; right: 0; }

.letters { width: 100%; box-sizing: border-box; position: absolute; bottom: 0; display: flex; justify-content: center; flex-wrap: wrap; padding: 0 30px 35px 30px; z-index: 5; }

.letter { width: 62px; height: 70px; display: flex; justify-content: center; align-items: center; margin: 3px; border-radius: 5px; background-color: rgba(83, 85, 93, 0.98); }

.letter p { font-size: 36px; line-height: 70px; text-transform: uppercase; }

.letter.not-found p { display: none; }

.missed { width: 50%; float: right; margin: 35px 35px 0 0; font-size: 16px; text-transform: uppercase; color: rgba(83, 85, 93, 0.98); }

.missed-letters span { color: #4d69fa; font-size: 46px; margin-right: 10px; float: left; }

.game-over { z-index: 10; width: 100%; height: 100%; min-height: 500px; position: absolute; background-color: rgba(59, 64, 98, 0.75); display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }

.game-over p { width: 100%; text-align: center; text-transform: uppercase; font-size: 46px; }

.game-over button { display: block; width: 170px; height: 50px; margin: 10px auto 0; background-color: transparent; border: 2px dashed #ffba00; border-radius: 20px; color: #ffba00; text-transform: uppercase; font-size: 16px; }

.game-over button:hover { cursor: pointer; }

.game-over button:active { outline: 0; background-color: rgba(255, 255, 255, 0.2); }

.game-over button:focus { outline: 0; }

.hangman { width: 20%; min-width: 200px; float: left; margin-top: 35px; position: relative; }

.gallows { z-index: 1; width: 150px; height: 15px; background-color: rgba(83, 85, 93, 0.98); border-radius: 5px; position: absolute; top: 0; left: -30px; }

.gallows:after { content: ''; display: block; width: 15px; height: 30px; position: absolute; right: 12px; top: 15px; background-color: rgba(83, 85, 93, 0.98); }

.head { z-index: 2; width: 100px; height: 100px; background-image: url("../imgs/head.png"); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; left: 0; right: 0; top: 25px; margin: 0 auto; }

.neck { z-index: 1; width: 22px; height: 20px; background-color: #fece8a; position: absolute; left: 0; right: 0; top: 120px; margin: 0 auto; }

.body { z-index: 1; width: 55px; height: 83px; background-color: #8ac657; position: absolute; left: 0; right: 0; top: 135px; margin: 0 auto; border-radius: 5px; overflow: hidden; }

.body:before { content: ''; display: block; width: 50px; height: 60px; position: absolute; left: 50%; top: 0px; background-color: #4ea06a; }

.body:after { content: ''; display: block; width: 100%; height: 60px; position: absolute; left: 0; top: 60px; background-color: #3c5a92; }

.right-arm { z-index: 3; width: 22px; height: 80px; position: absolute; top: 130px; border-radius: 5px; overflow: hidden; background-color: #4ea06a; right: 44px; transform: rotate(-45deg); }

.left-arm { z-index: 3; width: 22px; height: 80px; position: absolute; top: 130px; border-radius: 5px; overflow: hidden; background-color: #8ac657; left: 45px; transform: rotate(45deg); }
