* {
	padding: 0;
	margin: 0;
    font-family: $main-font;
}

body {
	min-width: 100vw;
    min-height: 100vh;
	background-color: $bg-violet;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
	max-width: 810px;
    width: 90vw;
    min-height: 490px;
    background-color: $dark-white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 550px) {
        margin: 5vw 0;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 200px;
        height: 500px;
        transform: rotate(45deg);
        background-color: $crazy-blue;
        position: absolute;
        bottom: -220px;
        right: 0;
    }
}