.letters {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.letter {
    width: 62px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    background-color: $dark-grey;
    p {
        font-size: 36px;
        line-height: 70px;
        text-transform: uppercase;
    }
    &.not-found {
        p {
            display: none;
        }
    }
}