.letters {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px 35px 30px;
    z-index: 5;
}

.letter {
    width: 62px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 5px;
    background-color: $dark-grey;
    p {
        font-size: 36px;
        line-height: 70px;
        text-transform: uppercase;
    }
    &.not-found {
        p {
            display: none;
        }
    }
}