$white: #ffffff;
$black: #000000;

$dark-white: #f5f5f5;
$dark-grey: rgba(83, 85, 93, .98);
$white-transparent: rgba(255, 255, 255, .2);

$bg-violet: #3b4163;
$bg-violet-transparent: rgba(59, 64, 98, .75);

$crazy-blue: #4d69fa;

$light-green: #8ac657;
$dark-green: #4ea06a;
$dark-blue: #3c5a92;

$yellow: #ffba00;

$body: #fece8a;